body {
    width: 100%;
    background-color: #f5f7f8;
}

.main {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #f5f7f8;
}

.verein-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.verein-grid .mantine-Grid-col:hover {
    transform: scale(1.02);
    transition: transform 0.33s;
    cursor: pointer;
}
