body {
    width: 100%
}

.main {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background: white;
}

.verein-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.verein-grid .mantine-Grid-col:hover {
    transform: scale(1.02);
    cursor: pointer;
}