.sponsor-images {
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sponsor-images img {
  max-height: 15vh;
  max-width: 28vw;
  min-width: 20vw;
  object-fit: contain;
}

body {
  color: #F7EFE5;
  overflow-x: hidden;
}

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  background-image: url('../../media/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  height: 50%;
  margin-right: 8%
}

.next-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  background: #1B1A55
}

.main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: #f5f7f8;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background: #F0F0F0;
}

@media screen and (max-width: 480px) {
  .sponsor-images img {
    max-height: 20vh;
    max-width: 80vw;
    object-fit: contain;
  }
}

.ball {
  position: relative;
  background-color: #ff5733;
  border-radius: 50%;
  animation: bounce 2s ease infinite;
}

/* Bouncing animation with squish effect */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(-10px) scaleY(1) scaleX(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(10px) scaleY(0.95) scaleX(1.05);
    animation-timing-function: ease-out;
  }
}

@media only screen and (max-width: 850px) {
  .hero {
    flex-direction: column;
  }

  .hero-card {
    margin-top: 3em;
  }

  .hero img {
    max-width: 75%;
    margin: 2em 0;
  }

}
