.sponsor-images {
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sponsor-images img {
  max-height: 15vh;
  max-width: 28vw;
  min-width: 20vw;
  object-fit: contain;
}

body {
  color: #F7EFE5;
  overflow-x: hidden;
}

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
}

.hero img {
  height: 50%;
  margin-right: 8%
}

.next-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  background: #1B1A55
}

.main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: white;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background: #F0F0F0;
}

@media screen and (max-width: 480px) {
  .sponsor-images img {
    max-height: 20vh;
    max-width: 80vw;
    object-fit: contain;
  }
}
