/* body {
    background: #2C3333;
    color: #F7EFE5;
    overflow-x: hidden;
}

.banner img {
    width: 100vw;
    height: 90vh;
}

.banner h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #189940;
    font-family: 'Impact', fantasy;
    font-size: 7vw;
}



.contentContainer {
    height: 100vh;
}

.content-text {
    padding: 15vw 15vw;
    text-align: justify;
}

.content-heading {
    text-align: center ;
}

.grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
}
*/
.sponsor-images {
    background: white;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.sponsor-images img {
    max-height: 15vh;
    max-width: 30vw;
    object-fit: contain;
}

body {
    color: #F7EFE5;
    overflow-x: hidden;
}

.carousel {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.carousel img {
    height: 100%;
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
}