:root {
    --main-color: #1B1A55;
    --secondary-color: #f4f4f4;
    --tertiary-color: #635985;
    --text: #333
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-color);
    transition: all .50s ease;
    z-index: 100;
    text-transform: uppercase;
    border-bottom: #161546 3px solid;
    border-right: #161546  3px solid;
    border-left: #161546  3px solid;
}

.navigation-menu {
    display: flex;
}

.navigation-menu ul {
    display: flex;
    list-style: none;
}

.navigation-menu a {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
    text-decoration: none;
}

.navigation-menu ul li ul {
    display: none;
}

.navigation-menu ul li:hover > ul {
    display: inline;
}

.navigation-menu ul li:hover > a {
    color: white;
}

.brand-name {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin-left: 1rem;
    max-width: 45vw;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

@media screen and (max-width: 550px) {
    .hamburger {
        display: block;
        background-color: #1F1F5F;
        z-index: 2;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 10vw;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        background: #f0f0f0;
        display: flex;
        transition: transform 0.4s ease-in-out;
        transform: translateX(100vw);
        border: #1b1a55 solid;
        border-radius: 1rem;
    }

    .navigation-menu li {
        text-align: center;
        padding: 3vh 3vw;
        margin: 2vh 2vw;
        border: #1B1A55 solid;
        border-radius: 15px;
    }

    .navigation-menu li a {
        color: #1B1A55;
        width: 100%;
        text-decoration: none;
    }

    .navigation-menu.expanded ul {
        display: flex;
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }
}
